## Basic Print Example

This cell demonstrates a simple print statement, outputting the string 'hello'. It's a basic example of Python's print function.

In [ ]:
print('hello')

hello\n

## Using `map` with a Function

Here, `multiplyBy2` is a function that takes an integer `x` and returns it doubled. We apply this function across a list of integers (from 1 to 9) using the `map` function. The `map` function applies a given function to each item of an iterable (like a list) and returns a list of the results.

In [ ]:
def multiplyBy2(x):
    return x * 2

x = list(range(1, 10))  # Create the list
y = list(map(multiplyBy2, x))  # Pass function, x, and value list
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Using `map` with a Lambda

This cell demonstrates using the `map` function with a lambda expression. Lambda functions are small anonymous functions defined with the `lambda` keyword. Here, a lambda function is used to apply `multiplyBy2` to each element in the list `x`. This is a more compact version of the map usage shown previously.

In [ ]:
def multiplyBy2(x):
    return x * 2

x = list(range(1, 10))  # Create the list
y = list(map(lambda value: multiplyBy2(value), x))  # Pass function, x, and value list
y

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Using `map` with a Lambda and Multiple Arguments

This example shows how to use `map` with a lambda function that accepts more than one argument. The function `multiplyBy` multiplies two values. A lambda function is used to specify that each element of `x` should be multiplied by 10. This showcases how `map` can be used with functions that take multiple parameters.

In [ ]:
def multiplyBy(x, value):
    return x * value

x = list(range(1, 10))  # Create the list
y = list(map(lambda value: multiplyBy(value, 10), x))  # Pass function, x, and value list
y

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Using Partial from `functools`

The `partial` function from the `functools` module allows you to 'freeze' some portion of a function's arguments and keywords resulting in a new object. Here, `multiply_10` is a partial object, which uses `multiplyBy` but fixes the second argument to 10. This allows for a more flexible use of the `map` function.

In [ ]:
from functools import partial
def multiplyBy(x, value):
    return x * value

x = list(range(1, 10))
multiply_10 = partial(multiplyBy, value=10)
y = list(map(multiply_10, x))  # Pass function, x, and value list
y

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Filter Function Example

This section demonstrates the use of the `filter` function. The function `is_even` checks if a number is even. Using `filter`, we apply this function to a list of integers (from 10 to 39) and extract only those that are even. This results in a new list containing only even numbers.

In [ ]:
def is_even(x):
  return x % 2 == 0

my_list = list(range(10, 40))
filtered_list = list(filter(is_even, my_list))
filtered_list

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

## Using Partial with Filter

This cell shows how to combine `filter` with `partial` from `functools` for a more complex scenario. The `is_divisible` function checks divisibility by a given value. We create a `partial` function `is_divisible_by_10` that checks for divisibility by 10, then use `filter` to apply this function to a list, extracting elements divisible by 10.

In [ ]:
def is_divisible(x, value):
  return x % value == 0

my_list = list(range(10, 40))
is_divisible_by_10 = partial(is_divisible, value=10)
filtered_list = list(filter(is_divisible_by_10, my_list))
filtered_list

[10, 20, 30]

## Reduce Function Example

The `reduce` function from the `functools` module is used to apply a function cumulatively to the items of a sequence, from left to right, so as to reduce the sequence to a single value. Here, we use `reduce` to sum all elements in a list from 1 to 50.

In [ ]:
from functools import reduce
def sum_even(value, accumulator):
  return value + accumulator

my_list = list(range(1, 51))
sum = reduce(sum_even, my_list, 0)
sum

1275

## Combining Filter and Reduce

In this example, we combine `filter` and `reduce` to calculate the sum of only the even numbers in a list from 1 to 50. This showcases how powerful functional programming techniques can be when combined.

In [ ]:
my_list = list(range(1, 51))
sum = reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, my_list))
sum

650

## Understanding Generator Functions

Generator functions allow the creation of iterators in a very clean way. They use the `yield` statement to yield values one at a time, suspending and resuming their state between each yield. In this example, the generator `generate_numbers` yields numbers divisible by 20.

In [ ]:
def generate_numbers():
  for i in range(1, 40):
    if i % 20 == 0:
      yield i
    print("I am working")

gen = generate_numbers()
for i in gen:
  print(i)

I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
20
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working
I am working

## Global Variables in Functions

Global variables can be accessed and modified anywhere in the program. This example demonstrates modifying a global variable `x` inside a function, showcasing the use of the `global` keyword to refer to the global instance of `x`.

In [ ]:
x = 20

def modify():
  global x
  x = x + 30
  print(x)

modify()
print(x)

50
50